In [2]:
import pandas as pd

In [18]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})

In [33]:
dummies = pd.get_dummies(data['whoAmI'], drop_first = True)
dummies

    robot
0       0
1       1
2       1
3       0
4       0
5       0
6       1
7       0
8       0
9       1
10      1
11      1
12      0
13      0
14      1
15      0
16      1
17      1
18      0
19      1

In [61]:
types_list = data["whoAmI"].tolist()
def one_hot (data, list):
    iter_dummies = []
    for i in range (len(data)):
        if data.iloc[i, 0] == list[0]:
            iter_dummies.append(1)
        else: 
            iter_dummies.append(0)
    return iter_dummies
new_dummies = pd.DataFrame({types_list[0]:one_hot(data,types_list)})
new_dummies

    human
0       1
1       0
2       0
3       1
4       1
5       1
6       0
7       1
8       1
9       0
10      0
11      0
12      1
13      1
14      0
15      1
16      0
17      0
18      1
19      0